section {
    padding-top: 75px;
    padding-bottom: 70px;
}

.section-title h2 {
    padding-bottom: 40px;
}

.question-answer {
    padding-left: 15px;
    padding-right: 15px;
}

.question {
    padding-top: 15px;
    margin-top: 10px;
}

.question-btn1,
.question-btn2,
.question-btn3,
.question-btn4,
.question-btn5,
.question-btn6 {
    text-decoration: none;
}

.question-btn1 p,
.question-btn2 p,
.question-btn3 p,
.question-btn4 p,
.question-btn5 p,
.question-btn6 p {
    position: relative;
    z-index: 10;
    cursor: pointer;
    padding: 15px;
    padding-left: 38px;
    background: url(../img/question.png) no-repeat center;
    background-position-x: 15px;
    border: 1px solid #eff1f2;
    border-radius: 30px;
    box-shadow: 0px 2px 5px 1px #859299;
    font-size: 22px;
    font-weight: 700;
    color: #5d6d76;
}

.question-btn1 p::before,
.question-btn2 p::before,
.question-btn3 p::before,
.question-btn4 p::before,
.question-btn5 p::before,
.question-btn6 p::before {
    content: '';
    border-left: 1px solid #c6d1dc;
    padding-right: 15px;
}

.question .active-question p {
    background: url(../img/question-active.png) no-repeat center;
    background-position-x: 15px;
    box-shadow: 0px 0px 30px 1px #859299;
    color: #8cc131;
}

.question .active-question p::before {
    border-left: 1px solid #9eca5c;
}

.answer1,
.answer2,
.answer3,
.answer4,
.answer5,
.answer6 {
    display: none;
    position: relative;
    background-color: #f3f6f9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.answer1 p,
.answer2 p,
.answer3 p,
.answer4 p,
.answer5 p,
.answer6 p {
    padding: 25px;
    color: #4e4e4e;
    font-weight: 300;
}

form {
    padding: 60px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0.1px #babebe;
}

.form-title {
    text-transform: uppercase;
    line-height: 42px;
}

.form-contact-comment {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.form-contact {
    width: 30%;
}

.form-contact input,
.form-contact-comment textarea {
    width: 85%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}

.form-contact input::placeholder,
.form-contact-comment textarea::placeholder {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000;
}

.form-contact-comment textarea {
    width: 64%;
}

form button {
    cursor: pointer;
    padding: 15px 40px;
    background-color: #dc1c4f;
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

form button:hover {
    background-color: #8fc232;
}